<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crear Viaje</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo.png' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">

    <style>

        body{

            font-family: Arial;
            background: url("{% static 'img/fondo.png' %}") no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

        }

        .error-control{
            border: 1px solid red;
        }

        label.error{
            color: red;
            width: 200px;
            font-size: 0.8em;
            margin-top: -5px;
            margin-bottom: 10px;
        }


        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

    </style>
    <script>
        $(function(){

            $("#formulario").validate({
                rules:{
                    codigo: "required",
                    destino: "required",
                    cantidadPasajero: "required",
                    distanciaRecorrer: "required"
                },
                messages: 
                {
                    codigo:{
                        required: 'Ingrese un codigo',
                    },

                    destino:{
                        required: 'Ingrese un destino',
                    },

                    cantidadPasajero: {
                        required: 'Ingrese cantidad de pasajeros',
                    },

                    distanciaRecorrer: {
                        required: 'Ingrese la distancia a recorrer',
                    },
                }
            });
         });

    </script>

</head>
<body>

    {% if user.is_authenticated %}
    <br><br><br><br>
    <!--Barra de navegación-->
    <nav class="navbar navbar-expand-sm navbar-light" style="background: linear-gradient(to right, #80FFDB, #64DFDF, #48BFE3, #5390D9, #5E60CE);">
        <a href="{% url 'inicio' %}">
            <img src="{% static 'img/logo.png' %}" alt="logoTurismo" width="30px" height="30px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sobrenosotros' %}"><span style="color: black;">¿Quienes somos?</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'galeria' %}"><span style="color: black;">Galeria de fotos</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'formulario' %}"><span style="color: black;">Contactanos</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'calendario' %}"><span style="color: black;">Calendario</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'apisismologia' %}"><span style="color: black;">Sismología</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mostrar' %}"><span style="color: black;">Crear y Mostrar Viajes</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mostrarcliente' %}"><span style="color: black;">Crear y Mostrar Clientes</span></a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="¿Qué destino buscas?" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnBuscar" style="margin-left: 5px;">Buscar</button>
            </form>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" id="userBookStop">
                        <img src="{% static 'img/user-vector-icon.png' %}" alt="userBookStop" width="20px">Cerrar Sesion
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>




    <div class="container py-3">
        <div class="row">
            <h2>Creando Viaje</h2>
        </div>

        <div class="row">
            <form method="POST" action="#" id="formulario">
                {% csrf_token %}

                <div class="form-group">
                    {{ viajeform.codigo.label}}
                    {{ viajeform.codigo}}
                </div>

                <div class="form-group">
                    {{ viajeform.destino.label}}
                    {{ viajeform.destino}}
                </div>

                <div class="form-group">
                    {{ viajeform.cantidadPasajero.label}}
                    {{ viajeform.cantidadPasajero}}
                </div>

                <div class="form-group">
                    {{ viajeform.distanciaRecorrer.label}}
                    {{ viajeform.distanciaRecorrer}}
                </div>

                <br><br>
                <div class="row">
                    <div class="col-md">
                        <input type="submit" class="btn btn-primary" value="Enviar">
                        <a href="{% url 'mostrar' %}" class="btn btn-success">Ver lista de viajes</a>
                    </div>
                </div>



            </form>
        </div>
    </div>


    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <div class="jumbotron bg-cover">
                    <h2 class="texto2">Usted no está autenticado</h2>
                    <p class="texto2"> Debes iniciar sesion para ver el contenido de esta pagina</p>
                    <a href="{% url 'inicio' %}" class="btn btn-danger">Volver a la pagina principal</a>
                
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    
</body>

    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/validacion.js' %}"></script>
</html>